body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-flex-direction: column;

    background: #2a2a2a;

    font-family: "Kaushan Script", cursive;
    font-size: 12px; 
    color: rgba(245, 245, 220, 0.7);
}

header {
    display: flex;
    justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;

    align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
}

.item {
    flex: 1 1 100%;
    padding: 0 5px;
    margin: 3px;
    text-align: center;
}

.title {
    font-size: 24px;
}

.title small {
    font-size: 12px;
    color: rgba(245, 245, 220, 0.4);
}

.info {
    font-size: 16px;
}

.info strong {
    color: tomato;
}

.container {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;

    align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
}

.container svg {
    display: flex;
}

.container path {
    fill: none;
    stroke: #555;
    stroke-dasharray: 5 1;
    pointer-events: none;
}

.container path.dynamic {
    stroke-width: 2px;
    stroke-dasharray: none;
}

.container rect {
    pointer-events: all;
    cursor: pointer;
    stroke: none;
    fill: none;
}

.container text {
    pointer-events: none;
    fill: tomato;
    fill-opacity: 0.3;
}